/* COLOUR REFERENCES

    $cerulean: #0091D3
    $cerulean-light: #00A0D3
    $deep-cerulean: #007FA3 <
    $monte-carlo: #7FCAD3
    $blue-lagoon: #008C95

    $black-pearl: #081F2C

    $twitter: #00ACED
    $facebook: #3B5998
*/


/*----------- GENERAL ------------*/

/* Regular */
@font-face {
    font-family: reg;
    src: url(../fonts/Antwerpen-Regular.woff);
}

@font-face {
    font-family: reg;
    src: url(../fonts/Antwerpen-Regular.eot);
}

@font-face {
    font-family: reg;
    src: url("../fonts/Antwerpen-Regular.svg#Antwerpen-Regular") format("svg");
}


/* Sun Antwerpen */

@font-face {
    font-family: sun5;
    src: url(../fonts/SunAntwerpen_500.woff);
}

@font-face {
    font-family: sun5;
    src: url(../fonts/SunAntwerpen_500.eot);
}

@font-face {
    font-family: sun5;
    src: url("../fonts/SunAntwerpen_500.svg#SunAntwerpen_500") format("svg");
}


@font-face {
    font-family: sun8;
    src: url(../fonts/SunAntwerpenCd_800.woff);
}

@font-face {
    font-family: sun8;
    src: url(../fonts/SunAntwerpenCd_800.eot);
}

@font-face {
    font-family: sun8;
    src: url("../fonts/SunAntwerpenCd_800.svg#SunAntwerpen_800") format("svg");
}

@font-face {
    font-family: sun7;
    src: url(../fonts/SunAntwerpenCd_700.woff);
}

@font-face {
    font-family: sun7;
    src: url(../fonts/SunAntwerpenCd_700.eot);
}

@font-face {
    font-family: sun7;
    src: url("../fonts/SunAntwerpenCd_700.svg#SunAntwerpen_700") format("svg");
}


/* Antwerpen Tall */

@font-face {
    font-family: antwT;
    src: url(../fonts/AntwerpenTall-Tall.woff);
}

@font-face {
    font-family: antwT;
    src: url(../fonts/AntwerpenTall-Tall.eot);
}

@font-face {
    font-family: antwT;
    src: url("../fonts/AntwerpenTall-Tall.svg#AntwerpenTall-Tall") format("svg");
}

body {

    font-family: sun5, Georgia, sans-serif;
    background-color:#7FCAD3;
}


/* ------------- GLOBAL -------------*/
h1,h2{
    font-family: reg, Georgia, sans-serif;
    color:white;
}
h3,h4,h5,h6{
    font-family: reg, Georgia, sans-serif;
    color:white;
}

h2{

    color:white;
    text-align:center;
}
nav li,
.hero-text {
    font-family: reg, Georgia, sans-serif;
}

.btn-default{
    font-family: reg, Georgia, sans-serif;

}

.door{
    float:right;
    color:#7FCAD3;
}


/* navbar */
.navbar-default {
    background-color: transparent; /*#7FCAD3*/
    border-color: transparent; /*#7FCAD3*/
}

/* brand navbar */
.navbar-default .navbar-brand {
    color: #ffffff;
    font-family:antwT, Georgia, sans-serif;
}

/* navbar links */
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

/* navbar active item */
.navbar-default .navbar-nav > .active{
    color: #ffffff;
    background-color:transparent; /*#7FCAD3*/
    text-decoration: underline;

}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;/*#7FCAD3*/
    text-decoration: underline;
}

/* navbar item hover */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #7FCAD3;
    text-decoration: underline;

}

.navbar-header img{
    width:110px;
    height:40px;
}

/*navbar brand
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {float:none;}
*/

/* mobile burger menu */
.navbar-default .navbar-toggle {
    background-color:#ffffff;
}

.navbar-default .navbar-toggle:hover {
    background-color:#081F2C;
    border-color:#081F2C;
}



.navbar-default .navbar-toggle .icon-bar {
    background-color: #007FA3;
}


@media only screen and (max-width: 766px) {
    .collapsing, .in {background-color: #007FA3;}
    .collapsing ul li a, .in ul li a {color: #ffffff;}
    .collapsing ul li a:hover, .in ul li a:hover {background-color: #081F2C;}
    .collapsing .active a , .in .active a {background-color: #081F2C;}
}


/* ------------- HERO ----------- */
.row{
    margin:0;
}

#hero{
    background: url('../img/antwerpNew2.png') 50% 0 no-repeat; <!-- fixed -->
    padding:40px 0;
    min-height:540px;
}


/*------------- ICON LINK -------------*/
#icon-link{
    background-color:#0091D3;
    min-height:500px;
}

.icn{
    background-color:white;
    height:80px;
    width:80px;
    border:2px solid;
    border-radius:40px;
    margin:auto;

}

#studiekeuze{
    border:#E04E39;
    background-color:#E04E39;
}

#studiekeuze:hover{
    transition:all 0.1s ease-in-out;
    transform:translate(0px,-10px);
}

#nieuws{
    border:#AACB57;
    background-color:#AACB57;
}

#nieuws:hover{
    transition:all 0.1s ease-in-out;
    transform:translate(0px,-10px);
}

#kot{
    border:#94450B;
    background-color:#94450B;
}

#kot:hover{
    transition:all 0.1s ease-in-out;
    transform:translate(0px,-10px);
}

#study{
    border:#F18A00;
    background-color:#F18A00;
}

#study:hover{
    transition:all 0.1s ease-in-out;
    transform:translate(0px,-10px);
}

#gate{
    border:#007FA3;
    background-color:#007FA3;
}

#gate:hover{
    transition:all 0.1s ease-in-out;
    transform:translate(0px,-10px);
}


.icon-wrapper h3{
    text-align:center;
    color:white;
}

.icon-wrapper p{
    text-align:center;
    color:white;
}

.icon-wrapper{
    color:white;
    display:inline-block;
    padding:20px;
    margin-top:10%;
}
.all-icons{
    text-align:center;
}

.hulp-wrapper{
    color:white;
    display:inline-block;
    padding:40px;
    /*margin-top:10%;*/
}

#keuzehulp h3{
    text-align: center;
}
/*------------- INTRO VIDEO -------------*/
#intro-video{
    padding-top:2px;
    background: url('../img/tramSnipOp.jpg') 50% no-repeat;
    background-size:cover;
    min-height:400px;
}

.btn-default{
    background-color:transparent;
    color:white;
    margin:auto;
    display:block;
    margin-top:20%;
}

.btn-default{
    border-radius:0;
    padding:10px 20px;
    border-color:white;
}
.btn-default:hover{
    border-color:white;
    background-color:white;
}

/*------------- KEUZEHULP -------------*/
#keuzehulp{
    padding-top:2%;
    background-color:#E04E39;
    min-height:400px;
}

#keuzehulp .btn-default{
    margin-top:10%;
}

/*------------- NIEUWS -------------*/

.nieuws{
    background-color:#009882;
    min-height:800px;
    width:49.8%;
    display:inline-block;
}


.nieuws-image img{
    width:100%;
    height:100%;

}

.nieuws-image{
    background: url('../img/tramSnipOp.jpg') 100% no-repeat;
    background-size:cover;
    display:block;
    padding:25%;
}
.nieuws-text {
    padding:10%;
}
.nieuws-text p{
    color:white;

}



/*------------- TESTIMONIALS -------------*/

#testimonials{
    padding-top:2%;
    background-color:#007FA3;
    min-height:400px;
}

#testimonials .btn-default{
    margin-top:10%;
}



.testimonial{
   /* background-color:#009882; */
    min-height:800px;
    width:49.8%;
    display:block;
}


.testimonial-image img{
    width:100%;
    height:100%;
    display:inline-block;
}

.testimonial-image{
    background: url('../img/tramSnipOp.jpg') 100% no-repeat;
    background-size:cover;
    padding:25%;
}
.testimonial-text {
    padding:10%;
    float:right;
}
.testimonial-text p{
    color:white;
}


/*------------ WAT STUDENTEN ZEGGEN -------------*/
#quotes h3, h4{
    text-align:center;
}

#quotes h3{
    padding-top:20%;
}
#quotes{

    background: url('../img/tramSnipOp.jpg') 100% no-repeat;
    background-size:cover;
    padding:2% 20% 10%;
}

/*------------- GAME -------------*/
#game{
    background-color:#F9B01E;
    padding-top:2%;
    min-height:400px;
}
#game .btn-default{
    margin-top:10%;
}


/*-------- FOOTER ---------*/

footer {
    background: #7FCAD3;
    color: white;
    padding: 20px 0 10px;
    font-size: 12px;
}

footer p {
    margin: 0;
}

i {
    padding: 10px;
}

.fb:hover{
    color:#3B5998;
}
.insta:hover{
    color:#e95950;
}
.tw:hover{
    color:#00ACED;
}


/*-------- Media Query ---------*/

@media screen and (max-width: 540px) {
    #main {
        margin-bottom: 20rem;
    }
}





/*---------------------------------- NIEUWS PAGINA ----------------------------------*/



.nieuws-hero-foto{
    padding-top:2%;
    background: url('../img/chill.jpeg') 50% no-repeat;
    background-size:cover;
    min-height:300px;
}

.nieuws-hero-text{
    background-color:#E04E39;
    width:30%;
    min-height:400px;
    margin-left:3%;
    padding:20px;


}
.nieuws-hero-text h3, p{
    text-align:center;
    color:white;
}

#nieuws-post{
    padding-top:2%;
    background-color:#007FA3;
    min-height:400px;

}

.nieuws-post-text h3{
    text-align:center;
    margin-bottom:5%;
}
.nieuws-post-foto img{
    width:90%;
}

.nieuws-post-foto{
    width:45%;
    float:left;
    display:inline-block;
}


.nieuws-post-text{
    width:49%;
    text-align:right;
    display:inline-block;
}



#nieuws-post2{
    padding-top:2%;
    background-color:#F9B01E;
    min-height:400px;

}

#nieuws-post2 .nieuws-post-foto{

    float:right;
}


#nieuws-post2 .nieuws-post-text{
    width:45%;

}



/*-------------------- POST PAGINA -----------------------*/


.post-foto{
    background: url('../img/tramSnipOp.jpg') 100% no-repeat;
    background-size:cover;
    padding:15% 30% 15%;
}

.inhoud{
    background-color:#F9B01E;
    min-height:500px;
    padding:2% 20%;
}

.inhoud h3{
    margin-bottom:2%;
}
.inhoud p{
    text-align:left;
}


.post-foto .door{
    color:#F9B01E;
}




/*------------------------ TESTIMONIAL PAGINA ---------------------------*/

.testimonials-foto img{
    width:100%;
}

.testimonials-foto{
    width:45%;
    float:left;
    display:inline-block;
}

.testimonials-text{
    width:45%;
    display:inline-block;
    float:right;
    margin-right:3%;
    margin-top:3%;
}

.testimonials-text p{
    text-align: left;
}
.testimonials-text h3{
    text-align: center;
}

#testimonial-12{
    background-color:#F9B01E;
    min-height:380px;
}



.testimonial-6-l{
    background-color:#007FA3;
    min-height:380px;
    width:49%;
    display:inline-block;
}


.testimonial-6-l .testimonials-foto  {
    width: 50%;
}
.testimonial-6-l .testimonials-text {
    width:40%;
    float:left;
    padding-left:10%;
}


.testimonial-6-l .testimonials-foto {
    width:50%;
}


/*--rechts--*/
.testimonial-6-r{
    background-color:#007FA3;
    min-height:380px;
    width:49%;
    display:inline-block;
}


.testimonial-6-r .testimonials-foto  {
    width: 50%;
}


.testimonial-6-r .testimonials-foto {
    width:50%;
}
.testimonial-6-r .testimonials-text {
    width:40%;
    float:left;
    padding-left:10%;
}

/*------------------- STUDIEAANBOD ---------------*/


.filtering{
    background-color:#F9B01E;
    min-height:200px;
}



.scholen{
    padding-left:5%;
    display:inline-block;
    width:40%;
    float:left;
}

.interesse{
    display:inline-block;
    width:40%;
    float:right;
    padding-right:5%;
}

.filtering label{
    color:white;
}

.studierichtingen{
     padding-top:2%;
     background-color:#007FA3;
     min-height:500px;
 }


.richting{
    //background-color:red;
    display:inline-block;
    width:40%;
    padding-left:5%;
}
.richt{
    display:inline-block;
}

.richting a{
    color:white;
    text-decoration: underline;

}
.slinks{
    display:inline-block;
    padding-left:10%;
}