/* COLOUR REFERENCES

    $cerulean: #0091D3
    $cerulean-light: #00A0D3
    $deep-cerulean: #007FA3 <
    $monte-carlo: #7FCAD3
    $blue-lagoon: #008C95

    $black-pearl: #081F2C

    $twitter: #00ACED
    $facebook: #3B5998
*/

/*----------- GENERAL ------------*/

/* Sun Antwerpen */
@font-face {
    font-family: sun5;
    src: url(../fonts/SunAntwerpen_500.woff);
}

@font-face {
    font-family: sun5;
    src: url(../fonts/SunAntwerpen_500.eot);
}

@font-face {
    font-family: sun5;
    src: url("../fonts/SunAntwerpen_500.svg#SunAntwerpen_500") format("svg");
}

/* Antwerpen Tall */
@font-face {
    font-family: antwT;
    src: url(../fonts/AntwerpenTall-Tall.woff);
}

@font-face {
    font-family: antwT;
    src: url(../fonts/AntwerpenTall-Tall.eot);
}

@font-face {
    font-family: antwT;
    src: url("../fonts/AntwerpenTall-Tall.svg#AntwerpenTall-Tall") format("svg");
}


body{
    margin-top:50px;
    font-family: sun5, Georgia, sans-serif;
}

/* ------------- GLOBAL -------------*/



nav li, .hero-text{
    font-family:antwT, Georgia, sans-serif;
}



/* navbar */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

/* brand navbar */
.navbar-default .navbar-brand {
    color: #ffffff;
    font-family:antwT, Georgia, sans-serif;
}

/* navbar links */
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

/* navbar active item */
.navbar-default .navbar-nav > .active{
    color: #007FA3;
    background-color:transparent;

}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #007FA3;
    background-color:transparent;
}



/* navbar item hover */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color:#007FA3;
    background-color:transparent;
}



/* mobile burger menu */
.navbar-default .navbar-toggle {
    background-color:transparent;
}



.navbar-default .navbar-toggle .icon-bar {
    background-color: #007FA3;
}



/* ------------- HERO ----------- */
.hero-image{
    background-image: url(../img/meeting.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top:20%;
}
.hero-text {
    float:right;
    background: rgba(0,0,0,0.4);
    color: white;
    padding-right:5%;
    padding-left:80.3%;
}

/*-------- FOOTER ---------*/

footer{
    background: transparent;
    color:white;
    padding:20px 0 10px;
    font-size:12px;
}

footer p{
    margin:0;
}

i{
    padding:10px;
}

.fb:hover{
    color:#3B5998;
}
.insta:hover{
    color:#e95950;
}
.tw:hover{
    color:#00ACED;
}

/*------------- LANDING PAGE -----------------*/


/*------------------------------------------------------------------*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
/*----------------------------------------------------------------------*/

.landing{
    margin-top:0px;
}

/*-------- HOME ----------*/
body.hp{

    background-image: url(../../assets/img/mock-up.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
    padding-top:600px;

}












