/* COLOUR REFERENCES

    $cerulean: #0091D3
    $cerulean-light: #00A0D3
    $deep-cerulean: #007FA3 <
    $monte-carlo: #7FCAD3
    $blue-lagoon: #008C95

    $black-pearl: #081F2C

    $twitter: #00ACED
    $facebook: #3B5998
*/


/*----------- GENERAL ------------*/

.clearfix::before,
.clearfix::after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix::after {
    clear: both;
}


/* Regular */

@font-face {
    font-family: reg;
    src: url(../fonts/Antwerpen-Regular.woff);
}

@font-face {
    font-family: reg;
    src: url(../fonts/Antwerpen-Regular.eot);
}

@font-face {
    font-family: reg;
    src: url("../fonts/Antwerpen-Regular.svg#Antwerpen-Regular") format("svg");
}


/* Sun Antwerpen */

@font-face {
    font-family: sun5;
    src: url(../fonts/SunAntwerpen_500.woff);
}

@font-face {
    font-family: sun5;
    src: url(../fonts/SunAntwerpen_500.eot);
}

@font-face {
    font-family: sun5;
    src: url("../fonts/SunAntwerpen_500.svg#SunAntwerpen_500") format("svg");
}

@font-face {
    font-family: sun8;
    src: url(../fonts/SunAntwerpenCd_800.woff);
}

@font-face {
    font-family: sun8;
    src: url(../fonts/SunAntwerpenCd_800.eot);
}

@font-face {
    font-family: sun8;
    src: url("../fonts/SunAntwerpenCd_800.svg#SunAntwerpen_800") format("svg");
}

@font-face {
    font-family: sun7;
    src: url(../fonts/SunAntwerpenCd_700.woff);
}

@font-face {
    font-family: sun7;
    src: url(../fonts/SunAntwerpenCd_700.eot);
}

@font-face {
    font-family: sun7;
    src: url("../fonts/SunAntwerpenCd_700.svg#SunAntwerpen_700") format("svg");
}


/* Antwerpen Tall */

@font-face {
    font-family: antwT;
    src: url(../fonts/AntwerpenTall-Tall.woff);
}

@font-face {
    font-family: antwT;
    src: url(../fonts/AntwerpenTall-Tall.eot);
}

@font-face {
    font-family: antwT;
    src: url("../fonts/AntwerpenTall-Tall.svg#AntwerpenTall-Tall") format("svg");
}


/*------------ GLOBAL -----------*/

body {
    font-family: sun5, Georgia, sans-serif;
    background-color: #7FCAD3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: reg, Georgia, sans-serif;
    color: white;
}

h1 {
    text-size: 47.68px;
}

h2 {
    text-size: 39.813px;
}

h3 {
    text-size: 33.178px;
}

h4 {
    text-size: 27.648px;
}

h5 {
    text-size: 23.04px;
}

h6 {
    text-size: 19.2px;
}

p {
    text-size: 16px;
    color: white;
}

h2 {
    color: white;
    text-align: center;
}

nav li,
.hero-text {
    font-family: reg, Georgia, sans-serif;
}

a:hover,
.invisible-btn:hover>h4 {
    text-decoration: underline;
    color: white;
}

.text-hero {
    height: 300px;
    text-align: center;
    overflow: hidden;
    background-color: #7FCAD3;
}

.text-hero img {
    height: 300px;
    width: auto;
    position: relative;
    top: 0;
    z-index: 0;
}

.text-hero h1, .text-hero h4 {
    line-height: 300px;
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
}

.text-hero h4 {
    top: 60px;
}


/*------------ GLOBAL BUTTON -----------*/

main {
    margin-top: 90px;
}

.container {
    padding: 0;
}

.btn-default {
    font-family: reg, Georgia, sans-serif;
}

.btn-default {
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
    margin: auto;
    display: block;
    margin-top: 4rem;
}

.btn-default {
    border-radius: 0;
    padding: 1.5rem 4rem;
    border-color: white;
    font-size: 24px;
    text-align: center;
}

.btn-default:hover {
    border-color: white;
    background-color: white;
}


/* ------------- NAV -------------*/

.navbar-default {
    background-color: #7FCAD3;
    /*#7FCAD3*/
    border-color: #7FCAD3;
    /*#7FCAD3*/
    font-size: 18px;
    height: 80px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav {
    color: #ffffff;
    font-family: antwT, Georgia, sans-serif;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-nav>.active {
    color: #ffffff;
    background-color: #7FCAD3;
    /*#7FCAD3*/
    text-decoration: underline;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #7FCAD3;
    /*#7FCAD3*/
    text-decoration: underline;
}


/* navbar item hover */

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    text-decoration: underline;
}

.navbar-header img {
    width: 160px;
    height: 50px;
}


/* mobile burger menu */

.navbar-default .navbar-toggle {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #7FCAD3;
}

div#navbar.navbar-collapse.collapse.in {
    background-color: #7FCAD3;
    border-color: #7FCAD3;
}

.navbar-collapse {
    margin-top: 15px;
}

@media only screen and (max-width: 766px) {
    .collapsing,
    .in {
        background-color: #7FCAD3;
        border-color: #7FCAD3;
    }
}

/* ------------- Pagina's ----------- */

.wp-pagenavi, .dataTables_paginate {
    padding: 2rem 0;
	clear: both;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}

.wp-pagenavi a, .wp-pagenavi span, .dataTables_paginate a {
    color: #ffffff;
	text-decoration: none;
    width: 100%;
	padding: 3px 5px;
	margin: 2px;
    cursor: pointer;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #000;
}

.wp-pagenavi span.current {
	font-weight: bold;
}

/* ------------- HERO ----------- */

.hero-image img {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.hero-front-page img {
    margin-bottom: -3.3%;
}


/*------------- ICONS -------------*/

#icon-link {
    background-color: #0091D3;
    padding: 6rem 0;
}

.all-icons {
    text-align: center;
}

.icon-wrapper {
    color: white;
    display: inline-block;
    padding: 2rem;
    margin: 2rem 0;
}

.icon-wrapper h3,
.icon-wrapper p {
    text-align: center;
    color: white;
}

.icon-wrapper h3:hover {
    text-decoration: none;
}

.icon,
.invisible-btn>img {
    transition: all 0.1s ease-in-out;
}

.icon:hover,
.invisible-btn:hover>img {
    transform: translateY(-5px);
    transition: all 0.1s ease-in-out;
}

.icon-wrapper h3:hover {
    transition: all 0.1s ease-in-out;
}


/*------------- INTRO VIDEO -------------*/

#intro-video {
    padding: 6rem 0;
    background: url('../img/stock/tramSnipOp.jpg') 100% no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.video-content {
    margin-top: 8%;
}

.video-content h2,
.video-content h3 {
    text-align: center;
}


/*------------- KEUZEHULP -------------*/

#keuzehulp {
    padding: 6rem 0;
    background-color: #E04E39;
}

#keuzehulp h3 {
    text-align: center;
}

.invisible-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: transparent;
    padding: 0;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
}


/*------------- TESTIMONIALS -------------*/

#testimonials {
    background-color: #6ec34c;
}

.image-box {
    width: 50%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.image-box img,
.image-box-right img {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.carousel-control {
    width: 5%;
}

.carousel-text {
    text-align: center;
    position: absolute;
    height: 300px;
    padding: 2rem;
    width: 50%;
    top: 0;
    right: 0;
    bottom: 0;
}

.carousel-text h2,
.carousel-text p,
.carousel-text-right h2,
.carousel-text-right p {
    text-align: center;
    color: #ffffff;
}

.carousel-text h2,
.carousel-text-right h2 {
    line-height: 4rem;
    padding-bottom: 2rem;
}

.carousel-text p,
.carousel-text-right p {
    line-height: 3rem;
}

.testimonials-indicator {
    width: 50%;
    margin: 0 auto;
}

.carousel-text-content {
    padding-top: 4rem;
    width: 90%;
    margin: 0 auto;
}

.carousel-btn {
    position: absolute;
    width: 95%;
    bottom: -110px;
}


/*------------- NIEUWS -------------*/

#nieuws {
    background-color: #007FA3;
}

.image-box-right {
    width: 50%;
    height: 500px;
    overflow: hidden;
    position: relative;
    float: right;
}

.carousel-text-right {
    text-align: center;
    padding: 2rem;
    width: 50%;
    height: 300px;
}

.carousel-text-right button {
    margin: 0 auto;
}

.nieuws-indicator {
    width: 50%;
    left: 30%;
}

.col-lg-12,
.col-sm-6 {
    padding: 0;
}


/*------------- GAME -------------*/

#game {
    padding-top: 4rem;
    background-color: #F9B01E;
    height: 610px;
    text-align: center;
}

.game-mascotte {
    position: relative;
}

.game-mascotte img {
    position: absolute;
    bottom: -510px;
    left: -32px;
    max-height: 530px;
    max-width: 100%;
    height: auto;
    width: auto;
}

#game .icon-wrapper {
    padding: 0;
}

.game-icons {
    padding-top: 1rem;
    text-align: center;
}

.game-icons img {
    height: 100px;
    width: 100px;
}

.small-icon {
    float: left;
}

.store {
    float: right;
}

.store img {
    margin-top: 5em;
    margin-right: 3em;
    transition: all 0.1s ease-in-out;
}

.store img:hover {
    transform: translateY(-5px);
}

.icon-wrapper-game-upper {
    width: 100%;
    margin-bottom: 2rem;
}

.icon-wrapper-game {
    width: 50%;
    float: left;
    
}


/*------------ WAT STUDENTEN ZEGGEN -------------*/

#myCarousel {
    height: 500px;
}

#quotes {
    background: url('../img/stock/tramSnipOp.jpg') 100% no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    text-align: center;
    position: relative;
}

#quotes h1 {
    margin-top: 6rem;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}

.quote-content {
    padding-top: 110px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

.author {
    color: #ffffff;
}

footer::before{
    content: none;
    display: none;
}

.attribution{
    color: #ffffff;
}


/*-------- FOOTER ---------*/

#footer {
    background: #7FCAD3;
    color: white;
    padding: 3rem 0;
    text-align: center;
}

#footer img {
    height: 100px;
    width: 100px;
    margin: 0 2rem;
}


/*-------------- NIEUWS PAGINA -------------------*/

.nieuws-hero img {
    top: 10px;
}


.nieuws-post, .testimonial-post {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.nieuws-post:nth-child(odd) {
    background-color: #F9B01E;
}

.nieuws-post:nth-child(even) {
    background-color: #007FA3;
}

.nieuws-post-foto,
.nieuws-post-text {
    width: 50%;
    max-height: 400px;
    height: 100%;
    display: inline-block;
}
.testimonial-post:nth-child(odd)>.nieuws-post-foto,
.testimonial-post:nth-child(even)>.nieuws-post-text,
.nieuws-post:nth-child(odd)>.nieuws-post-foto,
.nieuws-post:nth-child(even)>.nieuws-post-text {
    float: left;
}

.testimonial-post:nth-child(even)>.nieuws-post-foto,
.testimonial-post:nth-child(odd)>.nieuws-post-text,
.nieuws-post:nth-child(odd)>.nieuws-post-text,
.nieuws-post:nth-child(even)>.nieuws-post-foto {
    float: right;
}

.nieuws-post-foto {
    width: 50%;
    overflow: hidden;
    position: relative;
}

.nieuws-post-foto img {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.nieuws-post-text {
    color: #ffffff;
}

.nieuws-post-text-pad {
    padding: 4rem;
}

.nieuws-post-button {
    position: relative;
    margin: 0 auto;
    bottom: 0;
    width: 50%;
}


/*-------------------- POST PAGINA -----------------------*/

.article-hero img {
    top: -150px;
    left: 80px;
}

.post-img {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.post-img img {
    position: absolute;
    left: -10000%;
    right: -10000%;
    top: -10000%;
    bottom: -10000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.caption {
    text-align: right;
    padding: 1rem;
    color: #ffffff;
    position: relative;
    bottom: -360px;
}

.post-info {
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;
}

.inhoud {
    background-color: #F9B01E;
    min-height: 500px;
    padding: 2% 20%;
}

.inhoud h3 {
    margin-bottom: 2%;
}

.inhoud p {
    text-align: left;
}

.post-foto .door {
    color: #F9B01E;
}


/*------------------------ TESTIMONIAL PAGINA ---------------------------*/

.testimonial-hero img {
    left: 25px;
}

.testimonial-post:nth-child(odd) {
    background-color: #F9B01E;
}

.testimonial-post:nth-child(even) {
    background-color: #6ec34c;
}

/*------------------- STUDIEAANBOD ---------------*/

.studeren-hero img{
    top: -15px;
    left: -20px;
}

.search-bar,
.filters,
.results {
    padding: 4rem 0;
    color: #ffffff;
}

.search-bar {
    background-color: #F9B01E;
}

#searchbar {
    height: 6rem;
    font-size: 18px;
    margin-top: 6rem;
}

.filters {
    background-color: #e04d39;
}

.table {
    margin-bottom: 0;
}

.btn-icon {
    background-color: #e04d39;
    border: none;
    padding: 3rem 1.5rem;
    position: relative;
    top: -80px;
    left: 2rem;
}

.btn-icon img {
    height: 60px;
    width: 60px;
    cursor: pointer;
}

#filter {
    margin-top: -40px;
    background-color: #e04d39;
}

.check-title,
th {
    padding-top: 2rem;
    font-family: reg, Georgia, sans-serif;
    font-size: 2rem;
}

td a,
td a:hover {
    text-decoration: none;
    color: #ffffff;
}

.table, .dataTable, .no-footer {
    width: 100%;
}

.table>tbody>tr>td {
    text-decoration: none;
    margin: 0;
    padding: 0;
    min-height: 60px;
}

.table>tbody>tr:hover {
    background-color: #e04d39;
}

td a {
    display: block;
    height: 100%;
    width: 100%;
    padding: 1rem;
}

td span {
    height: 60px;
    vertical-align: middle;
}

.results {
    background-color: #0091D3;
    overflow-x: auto;
}

tr {
    width: 100%;
}

td:nth-child(4n+1), th:nth-child(4n+1) {
    width: 50%;
}

td:nth-child(4n+2), th:nth-child(4n+2) {
    width: 20%;
}

td:nth-child(4n+3), th:nth-child(4n+3) {
    width: 12%;
}

td:nth-child(4n+4), th:nth-child(4n+4) {
    width: 18%;
}

/*---------------------------------------404--------------------------------------*/

.notfound {
    text-align: center;
    padding: 20rem 2rem;
}

.specialh1 {
    font-size: 16vh;
}


/*---------------------------------------MEDIA QUERRYS--------------------------------------*/


/*---- TESTIMONIALS -> eruit zien als NIEUWS ---*/

@media only screen and (max-width: 1267px) {
    .testimonials-post,
    .testimonials-post1,
    .testimonials-post2 {
        width: 100%;
        height: 400px;
        overflow: hidden;
    }
    .testimonials-post2 {
        margin-bottom: 0rem;
    }
    .testimonials-post1 .testimonials-post-button,
    .testimonials-post2 .testimonials-post-button {
        margin: 0 auto;
    }
    .testimonials-post1 .testimonials-post-text-pad,
    .testimonials-post2 .testimonials-post-text-pad {
        padding: 4rem;
    }
    .testimonials-post:nth-child(odd) {
        background-color: #F9B01E;
    }
    .testimonials-post1:nth-child(odd) {
        background-color: #F9B01E;
    }
    .testimonials-post2:nth-child(odd) {
        background-color: #F9B01E;
    }
    .testimonials-post:nth-child(even) {
        background-color: #007FA3;
    }
    .testimonials-post1:nth-child(even) {
        background-color: #007FA3;
    }
    .testimonials-post2:nth-child(even) {
        background-color: #007FA3;
    }
    .testimonials-post:nth-child(odd)>.testimonials-post-foto,
    .testimonials-post:nth-child(even)>.testimonials-post-text {
        float: left;
    }
    .testimonials-post1:nth-child(odd)>.testimonials-post-foto,
    .testimonials-post1:nth-child(even)>.testimonials-post-text {
        float: left;
    }
    .testimonials-post2:nth-child(odd)>.testimonials-post-foto,
    .testimonials-post2:nth-child(even)>.testimonials-post-text {
        float: left;
    }
    .testimonials-post:nth-child(odd)>.testimonials-post-text,
    .testimonials-post:nth-child(even)>.testimonials-post-foto {
        float: right;
    }
    .testimonials-post1:nth-child(odd)>.testimonials-post-text,
    .testimonials-post1:nth-child(even)>.testimonials-post-foto {
        float: right;
    }
    .testimonials-post2:nth-child(odd)>.testimonials-post-text,
    .testimonials-post2:nth-child(even)>.testimonials-post-foto {
        float: right;
    }
    .
    /*---- CAROUSEL INDEX ----*/
    .image-box {
        display: none;
    }
    
    .image-box img,
    .image-box-right img {
        display: none;
    }
    .image-box-right {
        width: 0px;
    }
    .carousel-text,
    .carousel-text-right {
        width: 100%;
    }
    #testimonials-carousel ol {
        text-align: left;
    }
    #posts-carousel ol {
        text-align: right;
    }
    .carousel-btn {
        position: none;
        width: 100%;
        bottom: -110px;
    }
    .carousel-text-right button {
        margin: 0 auto;
        width: 100%;
    }
    .item.active {
        margin: 0px;
        padding: 0px;
    }
}

@media only screen and (max-width: 633px) {
    /*-----NIEUWS----*/
    .nieuws-post-foto img,
    .testimonials-post-foto img {
        display: none;
    }
    .nieuws-post-text,
    .testimonials-post-text {
        width: 100%;
    }
    .game-mascotte img {
        display: none;
    }
    .store img {
        width: 30%;
    }
    .carousel-text-content {
        padding-top: 0em;
    }
    .nieuws-post-button .btn-default {
        margin-top: 0rem;
        display: inline-block;
    }
    .nieuws-post-button {
        margin-top: 5%;
        margin-left: 15%;
    }
}


/*-----------FOOTER -------------*/

@media only screen and (max-width: 900px) {
    footer img {
        height: 50px;
        width: 50px;
        margin: 0 1rem 0 1rem;
    }
}
